<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head">
</head>
<body>
<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<main class="p-5 align-content-center bg-blur">
    <div class="container">
        <div id="all-articles-jumbotron" class="jumbotron p-3 p-md-5 text-white rounded">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic font-weight-bold">Title of the pinned article</h1>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div th:each="a : ${articles}" th:object="${a}" class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong th:text="*{genre}" class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 th:text="*{title}" class="mb-0"></h3>
                        <div th:text="*{#temporals.format(addedOn, 'dd-MM-yyyy HH:mm')}" class="mb-1 text-muted"></div>
                        <p th:text="*{#strings.substring(content, 0, 60) + '...'}" class="card-text mb-auto"></p>
                        <a th:href="@{/articles/details/{id}(id = *{id})}">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block"
                         th:src="*{imageUrl}" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_177aec8236e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_177aec8236e%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragments/fragment :: footer">
</footer>
</body>
</html>
