<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
        <th:block th:include="~{/fragments/nav}"></th:block>

</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:object="${userRegisterBindingModel}" th:method="POST" th:action="@{/users/register}" >
        <div class="form-group" >
            <div  class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>
            <input type="text" class="form-control"
                 th:field="*{username}" th:errorclass="bg-danger" id="username" name="username" />
            <small th:each="e : ${#fields.errors('username')}" th:text="${e}" class="text-danger">Username error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input type="email" th:errorclass="bg-danger" class="form-control"
                   th:field="*{email}"  id="email" name="email" />

            <small th:each="e : ${#fields.errors('email')}" th:text="${e}" class="text-danger">Email error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label  for="password" class="h4 mb-2" >Password</label>
            </div>
            <input th:field="*{password}" th:errorclass="bg-danger" type="password" class="form-control" id="password" name="password" />
            <small th:each="e : ${#fields.errors('password')}" th:text="${e}" class="text-danger">Password error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input type="password" class="form-control" id="confirmPassword"
                   name="confirmPassword" />
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>

</footer>
</body>
</html>
